html, body, .main {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.main .fullrect {
	width: 0%;
	height: 0%;
	background-color: black;
	position: absolute;
	/*transition: all 1s ease-in-out;*/
}

@-webkit-keyframes rotatingRight {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotatingLeft {
    from{
        -webkit-transform: rotate(360deg);
    }
    to{
        -webkit-transform: rotate(0deg);
    }
}

.info {
	font-family: Helvetica;
	padding: 7px 7px;
	width: 111px;
	font-size: 7pt;
	color: white;
	background-color: rgba(0,0,0,0.65);
	border-radius: 5px;
	border: 1px solid #ccc;
	position: absolute;
	right: 1%;
	bottom: 1%;
}

.info p {
	padding: 0;
	margin: 0;
}

.info > div {
	margin: 0px -7px 0px -7px;
	padding: 1px 7px 1px 7px;
	overflow: auto;
}

.info > div.selected {
	background-color: rgba(200,200,200, 0.75);
	color: black;
}

.info a {
	color: white;
}

.info hr {
	margin: 1px;
}

#presetBoxes span {
	display: inline-block;
	background-color: rgba(255,255,255, 0.45);
	width: auto;
	height: 8px;
	margin: 1px;
	padding: 2px 3px;
	color: black;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
}

#presetBoxes span:hover, #presetBoxes span.selected {
	background-color: rgba(255,255,255, 0.75);
}

.removePreset.disabled {
	color: #aaa;
}

.slider {
	opacity: 0.75;
}

.twoCol {
	margin-left: 1px;
	margin-right: 2px;
	margin-top: 4px;
	margin-bottom: 2px;
}

.colOne {
	margin-left: 1px;
	margin-top: 4px;
	width: 80%; float: left;
	margin-bottom: 4px;
}

.colTwo {
	width: 10%; float: right;
	margin-right: 5px;
}

.colTwo input {
	opacity: 0.75;
}

.fps {
	margin-top: 3px;
	text-align: center;
}