html, body, .main {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.main .rect {
	background-color: black;
	height: 50%;
	width: 50%;
	position: absolute;
	transition: all 1s ease-in-out;
}

.main .fullrect {
	width: 0%;
	height: 0%;
	background-color: black;
	position: absolute;
	transition: all 1s ease-in-out;
}

.main .fullrectx {
	width: 7%;
	height: 7%;
	background-color: black;
	position: absolute;
	z-index: 10;
	filter: blur(5px);
	top: 47%;
	left: 47%;
}

.topleft {
	top: 0;
	left: 0;
}

.topright {
	top: 0;
	left: 50%;
}

.bottomleft {
	top: 50%;
	left: 0;
}

.bottomright {
	top: 50%;
	left: 50%;
}

.mid {
	top: 49.5%;
	left: 49.5%;
}

@-webkit-keyframes rotatingRight {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotatingLeft {
    from{
        -webkit-transform: rotate(360deg);
    }
    to{
        -webkit-transform: rotate(0deg);
    }
}

.info {
	font-family: Helvetica;
	padding: 1%;
	width: 111px;
	font-size: 7pt;
	color: black;
	background-color: rgba(255,255,255,0.65);
	border-radius: 5px;
	border: 1px solid #ccc;
	position: absolute;
	right: 1%;
	bottom: 1%;
}

.info p {
	padding: 0;
	margin: 0;
}

.slider {
	opacity: 0.75;
}

#intervalSlider {
	
}

.twoCol {
	margin-left: 1px;
	margin-right: 2px;
}

.colOne {
	margin-left: 1px;
	margin-top: 4px;
	width: 80%; float: left;
	margin-bottom: 8px;
}

.colTwo {
	width: 10%; float: right;
	margin-right: 5px;
}

.colTwo input {
	opacity: 0.75;
}